body {
  background-color: antiquewhite;
}

.container {
  width: 40vw;
  height: 46vw;
  margin: auto;
  background-color: white;
  padding-top: 2vw;
  border-radius: 40px;
  border: 10px solid rgb(241, 241, 241);
}

.container-input {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.input {
  height: 4vw;
  width: 26vw;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}

.image {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
}
.bin {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}
.added-task {
  margin: auto;
  width: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(237, 237, 237);
  width: 30vw;
  height: 3vw;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.tasks {
  margin: auto;
  list-style: none;
}
.alert {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
